<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spartahack.spartahack2016">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <permission android:protectionLevel="signature"
        android:name="com.spartahack.spartahack2016.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.spartahack.spartahack2016.permission.C2D_MESSAGE" />



    <application
        android:theme="@style/AppTheme"
        android:icon="@drawable/logo"
        android:name=".MyApplication">
        <activity
            android:name=".Activity.ProfileFragment"
            android:label="@string/login">
        </activity>

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme"/>


        <!-- parse shit  -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.example.spartahack.spartahack2016.PushNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.spartahack.spartahack2016" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
